#nav {
    font-family: "ivyepic-variable", sans-serif;

    
}

#projectBody {
      font-family: Arial, Helvetica, sans-serif; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
#video{
    max-width: 100%;
}
#sunnysidevid{
    max-width: max(600px, 80%);
}
#projectBody p{
    font-family: "ivyepic-variable", sans-serif;
font-weight: bold;
padding: 2rem;
font-size: clamp(20px + 1rem, 1vw, 2rem);
}
#projectTitle   {
    align-self: center;
    font-family: "ivyepic-variable", sans-serif; 
    color: black;
    text-decoration: none;
}
#projectTitle a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
}
#projectText {
    font-family: "ivyepic-variable", sans-serif;
}
#projectHolder {
    font-family: 2rem;
}
