

#imageHolder img{
max-width: 100%;

height: auto;
}

#nav {
    font-family: "ivyepic-variable", sans-serif;

    
}

#projectTitle   {
    align-self: center;
    font-family: "ivyepic-variable", sans-serif; 
    color: black;
    text-decoration: none;
}
#projectTitle a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
}
#projectText {
    font-family: "ivyepic-variable", sans-serif;
}
#projectHolder {
    font-family: 2rem;
}

  



section {
}


#logoSection{
    flex-direction: column;
    font-family: "ivyepic-variable", sans-serif;

    display: flex;
    font-size: var(--bodyFont);
}

#mbglogo{
    align-self: center;
    max-width: 20rem;
    padding: 2rem;
}
#MasterProjectWrapper{
    background-color: rgba(246, 177, 74, 0.706);
}

@media (width > 800px ) {
    #imageHolder img{
        max-width: 45%;
        object-fit: contain;
        
       }
    
}