#webvid{
    max-width: 100%;
   width:  clamp(400px, 50%, 45vw )
}
#MasterProjectWrapper{
    background-color: #ecf583;
    font-family: "ivyepic-variable", sans-serif;

}
#projectText{
    display: flex;
  flex-direction: column;

}

#projectLinkButton{
    align-self: center;
}