*{

}

@font-face {
    font-family: 'Comfortaa';
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
#nav {
    font-family: "ivyepic-variable", sans-serif;
    max-width: 100%;
    
}

body{
    max-width: 100%;

}
#projectHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projectTags{
    padding: 2rem;
}
#projectTags span{
    background-color: #303030;
    border-radius: 10%;
    padding-left: 2rem;
    padding-top: 1rem;
    color: white;
    padding-bottom: 1rem;
    padding-right: 3rem;
    font-size: 1rem;
}
#projectBody{
  
    display: flex;
    width: fit-content;
    flex-direction: column;
}
#projectBody p{
        font-family: "ivyepic-variable", sans-serif;
    font-weight: bold;
    padding: 2rem;
    line-height: calc(10px + 1rem);
    font-size: 1rem;
}

#imageHolder img{
    max-width: 100%;
    object-fit: contain;
    
   }
#projectLink{
     font-family: "ivyepic-variable", sans-serif;

    color: black;

}
#projectLogo{
    align-self: center;
    width: 30%;
}
#projectLink a{
    text-decoration: none;
    color: black;
}

#projectText{
    padding: clamp(1vw, 2rem + 2vw, 5rem);
    font-size: 2rem;
  font-family: "ivyepic-variable", sans-serif;
    
}
#vid{
    width: 40%;
    height: auto;
}
#elements{
    font-family: 'Comfortaa';
}



@media (width > 800px ) {
    #imageHolder img{
        max-width: 45%;
        object-fit: contain;
        
       }
    
}
