*{

}

@font-face {
    font-family: 'Comfortaa';
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
#nav {
    font-family: "ivyepic-variable", sans-serif;

    
}
#name {
    margin: 0px;
    font-family: "arial" ;
    font-size: calc(9vw - 20px);
    letter-spacing: -.5rem - 5px;
    font-weight: bolder;
    padding-left: 5rem;
    width: 100%;}
body{
    padding: 1rem;
    max-width: 100%;

}
#projectHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projectTags{
    padding: 2rem;
}
#projectTags span{
    background-color: #303030;
    border-radius: 10%;
    padding-left: 2rem;
    padding-top: 1rem;
    color: white;
    padding-bottom: 1rem;
    padding-right: 3rem;
    font-size: 1rem;
}
#projectBody{
  
    display: flex;
    width: fit-content;
    flex-direction: column;
}
#projectBody p{
        font-family: "ivyepic-variable", sans-serif;
    font-weight: bold;
    padding: 2rem;
    line-height: calc(10px + 1rem);
    font-size: 1rem;
}
#imageHolder{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    

}
#imageHolder img{
    max-width: 100%;
    object-fit: contain;
    
   }
#projectLink{
     font-family: "ivyepic-variable", sans-serif;

    color: black;

}
#projectLogo{
    align-self: center;
    width: 50%;
}
#projectLink a{
    text-decoration: none;
    color: black;
}

#projectText{
    font-size: 2rem;
  font-family: "ivyepic-variable", sans-serif;
    
}
#vid{
    width: 40%;
    height: auto;
}
#elements{
    font-family: 'Comfortaa';
}



@media (width > 800px ) {
    #imageHolder img{
        max-width: 45%;
        object-fit: contain;
        
       }
    
}