*{


}


@font-face {
    font-family: 'Comfortaa';
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
#nav {
    font-family: "ivyepic-variable", sans-serif;
    max-width: 100%;
    
}

body{
    
    max-width: 100%;

}
#MasterProjectWrapper{
    max-width: 100%;
}
#projectTags{
    padding: 2rem;
}
#projectExplainer{
    font-size: clamp(20px + 1rem, 1vw, 2rem);
    width: min-content;
}
#projectHolder{
    justify-content: space-between;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    padding: clamp(1rem, 2vw,3rem);
    flex-direction: row;
}
#projectTags span{
    background-color: #303030;
    border-radius: 10%;
    padding-left: 2rem;
    padding-top: 1rem;
    color: white;
    padding-bottom: 1rem;
    padding-right: 3rem;
    font-size: 1rem;
}
#projectBody{
    font-family: "ivyepic-variable", sans-serif;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#projectBody p{
        font-family: "ivyepic-variable", sans-serif;
    font-weight: bold;
    line-height: clamp(20px, calc(1vw + 1rem) + 10px, 3rem + 10px);
    font-size: clamp(20px, calc(1vw + 1rem), 3rem);
}

#imageHolder img{
    max-width: 100%;
    object-fit: contain;
    
   }
#projectLink{
     font-family: "ivyepic-variable", sans-serif;

    color: black;

}
#projectLogo{
    filter: contrast(375%) grayscale(50%);
    width: 50%;
}
#projectLink a{
    text-decoration: none;
    color: black;
}
#logoanimation{
    padding: 2rem;
}
#projectLogo{
    align-self: center;
}
#lottieContainer{
width: clamp(100px, calc(5vw + 400px), 100%);;
}
#projectText{
    width:calc(min(100%, 80vw)) ;
    max-width: 80%;
  font-family: "ivyepic-variable", sans-serif;
align-self: center;
}
#vid{
    width: 40%;
    height: auto;
}
#elements{
    font-family: 'Comfortaa';
}



@media (width > 800px ) {
    #imageHolder img{
        max-width: 50%;
        object-fit: contain;
        
       }
    
}
