:root{
    font-size: 16px;

--paddingElement: 2rem;
--paddingSection: calc(var(--paddingElement) * 2);
--headerFontSize : 6rem;
--bodyFont: calc(var(--headerFontSize) / 2)
--headerTypeFace: "hwt-roman-extended-light-fac", serif;
--bodyTypeFace:  "ivyepic-variable", sans-serif;


}
@media (width > 800px ) {
    #imageHolder img{
        max-width: 45%;
        object-fit: contain;
        
       }
    
}
#imageHolder{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    

}

#imageHolder img{
    max-width: 100%;
    object-fit: contain;
    
   }

   #nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
   }
   #name{
    font-family: "ivyepic-variable", sans-serif;
    font-size: calc(5vw - 20px);
    font-weight: bolder;
    padding-left: 5rem;
    margin: 0px;
    width: auto;}

   #nav h3{font-size: 1rem;
color: black;}

   #nav a{
    color: black;
    list-style-type: none;
text-decoration: none;   }