:root{
    font-size: 16px;

--paddingElement: 2rem;
--paddingSection: calc(var(--paddingElement) * 2);
--headerFontSize : 6rem;
--bodyFont: calc(var(--headerFontSize) / 2)
--headerTypeFace: "hwt-roman-extended-light-fac", serif;
--bodyTypeFace:  "ivyepic-variable", sans-serif;
--projectBodyFontSize : clamp(20px, calc(1vw + 1rem), 3rem);
--projectBodyLineHeight: calc((var(--projectBodyFontSize)) + 20px);


}
@media (width > 800px ) {
    #imageHolder img{
        max-width: 50%;
        object-fit: contain;
        
       }
    
}
body{
    font-family: 'ivyepic-variable', sans-serif;
    margin: 0px;
    background-color: rgb(246, 246, 246);
    
}
#imageHolder{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    

}

#imageHolder img{
    max-width: 100%;
    object-fit: contain;
    
   }
   #nav{  
    display: flex;
    background-image: linear-gradient(

        to top,
        rgba(244, 244, 244, 0.261) 0%,
        rgba(241, 239, 239, 0.91) 50%,
        rgb(235, 235, 235) 100%
    );
        top: 0;
    align-self: flex-start;
    flex-direction: row;
    z-index: 4;
    justify-content: space-between;
    align-content: first baseline;
    align-items: center;
    position: sticky;
    min-width: 100%;
    transition: background-image 200ms ease-in-out;
}
#nav:hover{
    background-image: linear-gradient(
        to top,
        rgba(244, 244, 244, 0.764) 0%,
        rgba(241, 239, 239, 0.967) 50%,
        rgb(235, 235, 235) 100%
    );
}
#navTwo{
    font-size: 2rem;
}

#footer{
    display: flex;
    background-image: linear-gradient(
        to top,
        rgba(244, 244, 244, 0.261) 0%,
        rgba(241, 239, 239, 0.91) 50%,
        rgb(235, 235, 235) 100%
    );
        top: 0;
    align-self: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-content: first baseline;
    align-items: center;
    min-width: 100%;
    transition: background-image 200ms ease-in-out;
}


#bio{
    margin: 0px;
    font-weight: lighter;
    font-size: 2rem;
    font-family: "ivyepic-variable", sans-serif;
}
   #name{
    font-family: "ivyepic-variable", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
margin: 10px;  
color: rgb(41, 41, 41);
padding-bottom:1rem;
  width: auto;}

   #nav #about{font-size: arem;
color: black;}

#nav>*{
    padding-left: 2rem;
    padding-right: 2rem;
}

   #nav a{
    color: black;
    list-style-type: none;
text-decoration: none;   }


#navTwo ul li{
    list-style: none;
}
#mainWrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
}

#MasterProjectWrapper{
    margin: 0px;
    width: 100%;
    padding: 0px
}
#projectHolder{
    max-width: 100%;
    display: flex;
    flex-direction: row;
}
#projectLink{
    padding: 0 1rem 0 1rem ;
    border: none;
    font-size: 1rem;
    align-self: center;
    text-align: center;
    font-family: "ivyepic-variable", sans-serif;
    text-decoration: none;
    color: black;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(146, 230, 230, 0.366);
    background-color: rgba(163, 224, 232, 0.521);
}

#projectLink a{
    text-decoration: none;
    color: black;
}
#projectBody{

    display: flex;
    width: fit-content;
    flex-direction: column;
}
#projectLogoHolder{
    display: flex;
    flex-direction: column;
}
#projectExplainer h1{
    font-size: clamp(10px + 2rem, 6vw, 10rem);
margin: 0px;
}
#footer{
    font-family: "ivyepic-variable", sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
}
#top img{
    max-width: 20px;
}

#logoanimation {
    align-self: center;
width: 100%;
margin: 0px;
mix-blend-mode: lighten;
}

.navScroll{
    color: blue;
}
.lists{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    flex-direction: row;
}
.lists ul li{
    font-size: 1rem;
    list-style-type: none;
text-decoration: underline;
margin-bottom: 1rem;}
#imageHolder img{
    max-width: 50%;
    object-fit: contain;
    
   }

   @media (width > 800px ) {
    #imageHolder img{
        max-width: 50%;
        object-fit: contain;
        
       }
    
}

@media (width < 900px) {
    #nav{
        display: flex;

position: sticky;     
   height: auto;
        flex-direction: column;
        flex-direction: column;

    }
  #name{
    font-size: 1rem;
  }

    #mainWrapper{
        display: flex;
        flex-direction: column;
    } 
    #projectBody{
        display: flex;
        flex-direction: column;
    }

  
    


    
    
}
