:root{
    font-size: 16px;

--paddingElement: 2rem;
--paddingSection: calc(var(--paddingElement) * 2);
--headerFontSize : 6rem;
--bodyFont: calc(var(--headerFontSize) / 2)
--headerTypeFace: "hwt-roman-extended-light-fac", serif;
--bodyTypeFace:  "ivyepic-variable", sans-serif;


}
@media (width > 800px ) {
    #imageHolder img{
        max-width: 45%;
        object-fit: contain;
        
       }
    
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    
}
#imageHolder{
    display: flex;
    padding: 5vw 10vw 10vw 10vw;
    flex-direction: row;
    align-items: first baseline  ;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    

}

#imageHolder img{
    max-width: 100%;
    object-fit: contain;
    
   }

   #nav{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    width: 90%;
    align-self: center;
   }
   #name{
    font-family: "ivyepic-variable", sans-serif;
    font-size: clamp(4rem, 5vw, 10rem);
    font-weight: bolder;
margin: 10px;  
color: rgb(41, 41, 41);
padding-bottom:1rem;
  width: auto;}

   #nav #about{font-size: 1rem;
color: black;}

   #nav a{
    color: black;
    list-style-type: none;
text-decoration: none;   }

#projectLink{
    font-size: 5rem;
    align-self: center;
    text-align: center;
    font-family: "ivyepic-variable", sans-serif;
    text-decoration: none;
    color: black;
}
#projectLink a{
    text-decoration: none;
    color: black;
}
#projectBody{
  
    display: flex;
    width: fit-content;
    flex-direction: column;
}

