:root{
    --typeface: sans-serif;
    font-size: 16px;
    
}
body{

   margin: 0;
    
   
}
.abt{
    padding-left: 20px;
}
.workListContianer{
    align-content: center;
}
.carouselTextContainer{
}
.workList{
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
}
.workList li{
}
#brandColorWrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;

}
#brandColorWrapper svg{
    padding: 0px;
    margin: 0px;
    width: max-content;
    padding-top: 1rem;
}



#mainWrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
}
#glaxicleanWrapper p{
    font-family: 'Comfortaa';
    font-size: 1rem;
}
#navTwo{
    font-family: "ivyepic-variable", sans-serif;

    

}

#navTwo ul li{
color: rgb(33, 33, 33);
}

#hi{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size:1rem;
   
    padding-bottom: 5rem;

}
h1{
    text-decoration: none;
    height: auto;
    color: rgb(25, 8, 8);
    text-decoration: none;
}
.intro{
    font-size: 3rem;
    padding: 20px;
    max-width: 60ch;
}
.carouselTextContainer{
    position: relative;
    height: 50px;
    overflow: hidden;
}
.carouselText{
    position: absolute;
    transition: opacity 1s ease-in-out;
}

/** Projects */

.project{
    cursor: url('../images/mousecursor.svg'), auto;

    list-style: none;
    text-align: center;
    padding: 5rem;
    margin-bottom: 5rem;
    color: rgb(9, 9, 9);
    border-bottom: 2px solid grey;
    
}
.project p {
    
    font-family: 'Times New Roman', Times, serif;
}
.project{
    width: auto;

   
}


.projectName{

    font-family: "ivyepic-variable", sans-serif;
    font-weight: 400;
font-size: 3rem;
    opacity: 1;
 
}
.projectName a{
    color: rgb(31, 31, 31);
}

.imageHolder{
    justify-content: center;
}

#projectHolder{
 display: flex;
 align-content: center;
 flex-direction: column;
}


#projectHolder a{
    text-decoration: none;

}


.imageHolder{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.imageHolder > img  {
    width: clamp(50%, 80vw, 80%);
}
.imageHolder > video{
    max-width: 100%;
}
.projectTitle{
    text-decoration: none;
    font-size: 2rem;
    font-family: 'ivymode';
    margin-bottom: 2rem;

}
.projectTitle a{
    color: rgb(50, 49, 49);
    font-size: 3rem;
}

.projectWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 clamp(20px, calc(1rem + 1vw), 5rem) 0 clamp(20px, calc(1rem + 1vw), 5rem);
        justify-content: center;

    position: relative;


}

.overlay{
    position: absolute;
   text-align: center;
   background: radial-gradient(circle, rgba(169,246,245,.23) 51%, rgba(55, 252, 213, 0.262) 84%, rgba(0,255,224,0) 100%); 

    justify-content: center;
    opacity: 0;
    top: 0;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  
    z-index: 3;
   font-size: 10rem;
}
/*.overlay:hover{
opacity: 1;
transition: 1s;
width: 80%;
transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
height: 80%;
}*/
.overlay h1{
    font-family: "ivyepic-variable", sans-serif;
    padding: 5rem;
}
.overlay p{
font-size: 1rem;
}
#glaxiclean{
    grid-row:1;
    grid-column: 1fr;
     background-image: radial-gradient(circle, rgba(169, 246, 245, 0) 51%, rgba(55, 252, 213, 0) 84%, rgba(0,255,224,0)100%); 
     transition:0.3s;
     transition-property: background-image;
     transition-duration: 1s;
     transition-delay: 2s;

  
}
/*#glaxiclean:hover{
    background: radial-gradient(circle, rgba(169,246,245,1) 51%, rgba(55,252,212,1) 84%, rgba(0,255,224,0) 100%); 
  

}*/


#glaxiclean:hover:after{
    background-color:blue;
}
#glaxiclean img{
    width:50%;
}
#gcvideo{
    object-fit: cover;
    width: 40%;
}



#glaxicleanImageHolder img {
    object-fit: contain;
    max-width: 100%;

}

#marcusbuildinggroup{
    grid-column: 1fr;
    grid-row: 2;
    background: none;
}
/* #marcusbuildinggroup:hover{
   background:  linear-gradient(90deg, rgba(236,157,90,0.4191877434567577) 7%, rgba(236,157,90,1) 60%, rgba(236,210,164,1) 84%, rgba(252,228,55,0) 93%);  
     transition: 2s;
}*/
#marcusbuildinggroup img{
    width: 50%;
}
#overlayMBG{
    background:  linear-gradient(90deg, rgba(236,157,90,0.4191877434567577) 7%, rgba(236,157,90,1) 60%, rgba(236,210,164,1) 84%, rgba(252,228,55,0) 93%);  

}

#sunnyside img{
    width: 100%;

}

#strugglemeals{
    background-color: black;
    width: 50%;
    height: 20vw;}




   /*       Ipad Size       */
   @media (width < 1001px){
    .project{

        padding: 2rem;
        margin-bottom: 2vw;
    }

   #projectHolder{
    padding: 1rem;
   }
        #glaxiclean video{
            width: 100%;
        }
        #glaxiclean img{
            width: 100%;
        }
        #marcusbuildinggroup img{
            width: 100%;
        }
        .overlay{
            display: none;
        }
    }



/*        Mobile Size             */



    @media (width < 800px) {
        .workList{
            display: none
        }
        .overlay{
            display: none;
        }
        #mainWrapper{
            display: flex;
            flex-direction: column;
        }
       
        #projectHolder{
            padding: 2rem;
        }
        .projectWrapper{
            display: flex;
            padding: 10px;
            flex-direction: column;
align-items: flex-start;        }
       
.projectWrapper img, video{
    width: clamp(400px, 50%, 100%);}
        
        #glaxiclean img,
        #glaxiclean video {
            width: 400px;
            max-width: 100%;
        }
        .projectWrapper img, video{
            width: 100%;
        }
    
        #navTwo{
            display: none;
        }
        #navTwo ul{
            display: flex;
            flex-direction: column;
        }

        .imageHolder{
            display: flex;
            max-width: 100%;
            flex-direction: column;
        }
     #brandColorWrapper{
        display: flex;
        flex-direction: row;
        max-width: 50%;
        align-self: center;
        justify-content: space-around;
     }
     video{
        max-width: 100%;
    }
    }