:root{
    --typeface: sans-serif;
    font-size: 16px;
    
}
body{
    height:100vh;
    margin: 0;
    font-family: var(--typeface);
}

#nav{   
    display: flex;
align-items:center ;   
flex-grow: space-between;
    flex-direction: row;
    flex-flow: wrap;
    padding-bottom: calc(1vw + 150px);

}

#hi{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size:1rem;
   
    padding-bottom: 5rem;

}
h1{
    text-decoration: none;
    height: auto;
    margin: auto;
    color: rgb(25, 8, 8);
    text-decoration: none;
}

#bio{
    
    font-weight: lighter;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;}

/** Projects */

.project{
    list-style: none;
    padding: 5vw;
    margin-bottom: 2vw;
    color: rgb(9, 9, 9);
}
.project p {
    font-family: 'Times New Roman', Times, serif;
}
#projectHolder{
    display: grid;
    text-align: center;
    width: 100%;
    
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: minmax(4fr, auto);
}

#projectHolder h1 {
    font-family: "ivyepic-variable", sans-serif;
    font-weight: 400;
    padding-bottom: 2rem;
font-size: 3rem;}
#projectHolder a{
    text-decoration: none;

}


.imageHolder{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
#glaxiclean{
    grid-row:1;
    grid-column: 1fr;
  
}


#glaxiclean:hover:after{
    background-color:blue;
}
#glaxiclean img{
    width:50%;
}
#gcvideo{
    width: 40%;
}

#glaxicleanImageHolder{
    width: 100%;
    display: flex;
    flex-direction: row;
}


#marcusbuildinggroup{
    grid-column: 1fr;
    grid-row: 2;
}
#marcusbuildinggroup img{
    width: 50%;
}

#sunnyside img{
    width: 100%;

}
#sunnyside video{
    width: 70%;
}
#strugglemeals{
    background-color: black;
    width: 50%;
    height: 20vw;}

    @media (Width < 800) {
        .projects
        {padding: 1rem
        }


        #nav{
            padding-bottom: 5rem;
        }
    }
 
